* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
a {
    color: #fff;
    text-decoration: none;
}
font,
textarea,
input,
select {
    font-family: "Open Sans", sans-serif;
}
.btn {
    --height: 60px;
    display: inline-block;
    color: #fff;
    height: var(--height);
    min-width: 205px;
    line-height: var(--height);
    text-align: center;
    font-size: 1.6rem;
    background-color: #2e80ce;
    border: 1px solid #2e80ce;
    padding: 0 20px;
    border-radius: 99px;
    font-weight: 400;
}
.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.section-heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375c;
}
.section-desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}
.control {
    display: flex;
    justify-content: center;
    column-gap: 18px;
    margin-top: 38px;
}
.control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    outline: none;
    color: #575f66;
    background-color: #fff;
    transition: 0.25s;
}
.control-btn:hover {
    cursor: pointer;
    color: #fff;
    border-color: #2e80ce;
    background: #2e80ce;
}
.control-next-icon {
    rotate: 180deg;
}
/* Header */
.header {
    min-height: 100vh;
    background: var(--header-bg);
    padding-top: 30px;
    padding-bottom: 110px;
}
.logo {
    display: inline-flex;
    position: relative;
    font-size: 1rem;
}
.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}
.logo__circle::before {
    width: 3em;
    height: 3em;
    background-color: #2e80ce;
}
.logo__circle::after {
    position: absolute;
    width: 1.6em;
    height: 1.6em;
    background-color: #fff;
    top: 1.1em;
    left: 1.1em;
}
.logo__text {
    margin-left: 0.6em;
    line-height: 1.6em;
    text-align: right;
}
.logo__brand {
    font-family: "Sora", sans-serif;
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    color: #fff;
}
.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}
/* Header-top */
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar {
    display: flex;
}
.navbar__list {
    display: flex;
}
.navbar__link,
.action__login {
    padding: 4px 21px;
    font-size: 1.6rem;
    color: #c9d2da;
    font-weight: 300;
}
.navbar__link:hover,
.navbar__link--active {
    text-shadow: 1px 0 0 currentColor;
    color: #ffffff;
}
.navbar__link--active::before {
    position: relative;
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    top: -2px;
    left: -8px;
}
/* Action */
.header-action {
    display: flex;
    align-items: center;
}
.header-action__login {
    margin-right: 7px;
}
.header-action__signup {
    margin-left: 28px;
    --height: 44px;
    min-width: 104px;
}
/* Hero */
.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Hero Content */
.hero__content {
    width: 44%;
    flex-shrink: 0;
}
.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    color: #ffffff;
    letter-spacing: -0.02em;
}
.hero__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}
.hero__row {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    margin-top: 38px;
}
.hero__row .btn {
    border-radius: 30px;
}
.hero__row .hero__phone {
    margin-left: 38px;
}
/* Hero Media */
.hero__media {
    flex-grow: 1;
}
.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}
.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}
.hero__img:last-child {
    width: 210px;
    height: 410px;
    border-radius: 0px 6px 6px 0px;
}
/* Service */
.service {
    padding: 170px 0;
}
.service__heading,
.service__desc {
    text-align: center;
}
.service__desc {
    max-width: 468px;
    margin-left: auto;
    margin-right: auto;
}
.service__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}
.service__image {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}
/* Service Item */
.service__list {
    margin-bottom: 55px;
}
.service-item {
    display: flex;
    cursor: pointer;
    display: flex;
    width: 470px;
    padding: 22px;
    border-radius: 10px;
    background: #fff;
    transition: 0.25s ease;
}
.service-item__icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    color: #10375c;
    background: #eff6fd;
    width: 60px;
    height: 60px;
    box-shadow: 0px 8px 16px rgba(40, 155, 222, 0.15);
    border-radius: 50%;
    transition: 0.25s ease;
}
.service-item__body {
    margin-left: 20px;
}
.service-item__heading {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.27;
    color: #10375c;
}
.service-item__desc {
    margin-top: 8px;
    width: 308px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}
.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}
.service-item:hover .service-item__icon {
    color: #fff;
    background: #2e80ce;
}
/* Work */
.work {
    padding: 100px 0;
    background-color: #f6fbff;
}
.work__desc {
    width: 468px;
}
.work__list {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 70px;
}
.work__item {
    background: #fff;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    padding: 44px;
    transition: 0.25s ease-in;
}
.work__item__icon {
    width: 72px;
    height: 72px;
}
.work__item__heading {
    margin-top: 20px;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
    color: #10375c;
}
.work__item__desc {
    margin-top: 28px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}
.work__more {
    margin-top: 18px;
    display: inline-block;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}
.work__item:hover {
    transform: translateY(-16px);
    border-color: #2e80ce;
}
.work__item:hover a {
    color: #2e80ce;
}
/* Feature */
.feature {
    margin-top: 85px;
    padding: 85px 0;
}
.feature__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}
.feature__media {
    width: 48%;
}
.feature__images {
    position: relative;
    padding-right: 58px;
    padding-bottom: 121px;
    display: flex;
}
.feature__img {
    width: 512px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}
.feature__img:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
}
.feature__content {
    margin-left: auto;
}
.feature__content .section-heading {
    width: 470px;
}
.feature__content .section-desc {
    width: 468px;
}
.feature__cta {
    margin-top: 38px;
}
/* Member */
.member {
    margin-top: 85px;
    padding: 85px 0;
    text-align: center;
}
.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.member__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    margin-top: 70px;
}
.member-item:hover .member-item__thumb {
    transform: scale(1.2);
}
.member-item__img-bg {
    padding-top: 28px;
    border-radius: 6px;
    background: #eaf6ff;
    overflow: hidden;
}
.member-item__thumb {
    display: block;
    height: 290px;
    max-width: 100%;
    object-fit: cover;
    transition: 0.3s;
}
.member-item__name {
    font-weight: 500;
    margin-top: 12px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #10375c;
}
.member-item__title {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.86;
    color: #575f66;
}
.member__cta {
    margin-top: 38px;
}
/* Install */
.install {
    margin-top: 180px;
}
.install__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    border-radius: 4px;
    background-color: #2e80ce;
}
.install__img {
    display: block;
    width: 284px;
    height: 522px;
    object-fit: cover;
    margin-top: -95px;
}
.install__content {
    max-width: 586px;
}
.install__heading,
.install__desc {
    color: #ffffff;
}
.install__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 28px;
}
/* News */
.news {
    margin-top: 85px;
    padding: 85px 0;
}
.news__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.news__content {
    flex-shrink: 0;
}
.news__heading {
    max-width: 470px;
}
.news__more {
    display: inline-block;
    margin-top: 28px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.56;
    text-decoration-line: underline;
    text-underline-offset: 5px;
    color: #10375c;
}
.news__control {
    margin-top: 28px;
    justify-content: flex-start;
}
.news__list {
    max-width: 570px;
    display: flex;
    column-gap: 30px;
}
.news-item {
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.25s;
}
.news-item:hover {
    box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.05);
}
.news-item:hover .news-item__body {
    border-color: #fff;
}
.news-item:hover .news-item__more {
    color: #2e80ce;
}
.news-item:hover .news-item__img {
    transform: scale(1.1);
}
.news-item__thumb {
    height: 172px;
    overflow: hidden;
}
.news-item__img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.25s;
}
.news-item__body {
    padding: 24px 24px 16px;
    background-color: #fff;
    border: 1px solid #e8ebee;
    border-radius: 0 0 12px 12px;
    border-top: none;
    transition: 0.25s;
}
.news-item__heading {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #10375c;
}
.news-item__desc {
    margin-top: 10px;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #575f66;
}
.news-item__more {
    display: inline-block;
    margin-top: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #10375c;
}
/* Appointment */
.appointment {
    margin: 85px 0 170px;
}
.appointment__inner {
    text-align: center;
    padding: 100px 70px;
    border-radius: 12px;
    background: #f7fbff;
}
.appointment__heading {
    position: relative;
    padding-bottom: 20px;
}
.appointment__heading::after {
    position: absolute;
    content: "";
    display: block;
    width: 136px;
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background: #2e80ce;
}
.appointment__desc {
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
    max-width: 617px;
    margin: 18px auto 38px;
}
.appointment__btn {
    display: inline-block;
}
/* Footer */
.footer {
    font-family: "Open Sans", sans-serif;
    background-color: #10375c;
    padding-top: 100px;
}
.footer__row {
    margin-bottom: 28px;
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    column-gap: 78px;
}
.footer__column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__column:first-child {
    width: 336px;
}
.footer__desc {
    color: #a9b3bb;
    display: inline-block;
    margin-top: 22px;
    font-size: 1.6rem;
    line-height: 1.75;
}
.footer__heading {
    margin-bottom: 20px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    color: #ffffff;
}
.footer__text {
    color: #a9b3bb;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    white-space: nowrap;
}
.footer__text:hover {
    text-decoration: underline;
}
.footer__social-links {
    display: flex;
    gap: 10px;
}
.footer__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2e80ce;
    background: #fff;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    transition: 0.25s;
}
.footer__social-link:hover {
    color: #fff;
    background: #2e80ce;
}
.footer__desc--small {
    width: 273px;
    height: 52px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #a9b3bb;
}
.footer__subscribe {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__subscribe__input {
    height: 46px;
    width: 212px;
    color: #9ca8b1;
    padding: 0 10px;
    background: transparent;
    outline: none;
    border: 1px solid #406181;
    border-radius: 4px;
}
.footer__subscribe__input::placeholder {
    font-size: 1.4rem;
    line-height: 1.86;
    font-weight: 400;
    color: #9ca8b1;
}
.footer__subscribe__input:focus::placeholder {
    color: transparent;
}
.footer__submit {
    --height: 46px;
    min-width: 108px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.86;
}
.footer__subscribe__cta {
    display: flex;
    gap: 12px;
}
.footer__copyright {
    padding: 28px 0 42px;
    border-top: 1px solid #406181;
}
.footer__copyright-text {
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #aab3ba;
}
